C/Estruturas Sequenciais/Exercício 1/teste1.o
C/Estruturas Sequenciais/Exercício 1/teste1.exe
C/Estruturas Sequenciais/Exercício 2/dados-usuario.exe
C/Estruturas Sequenciais/Exercício 2/dados-usuario.o
